- name: checking env vars
  command: echo $ENVIRONMENT $TYPEORM_USERNAME $TYPEORM_PASSWORD $TYPEORM_HOST
- name: add nodejs repo to apt sources
  command:
    cmd: curl -O -fsSL https://deb.nodesource.com/setup_14.x
    creates: setup_14.x
- name: run the setup script
  become: true
  command: bash setup_14.x
- name: install with apt
  become: true
  apt:
    name: nodejs
- name: install pm2
  become: true
  community.general.npm:
    name: pm2
    global: true
- name: checking if repo folder exists
  stat:
    path: git/udapeople-cicd
  register: repo_folder
- name: remove repo folder if exists
  file:
    path: git/udapeople-cicd
    state: absent
  when: repo_folder.stat.exists # and repo-folder.stat.isdir
- name: cloning the repository
  shell:
    cmd: 'rm -rf udapeople-cicd || git clone https://github.com/staticnotdynamic/udapeople-cicd'
    chdir: git
- name: install nodejs dependencies for backend
  command:
    chdir: git/udapeople-cicd/backend
    cmd: npm i
- name: build backend
  command:
    chdir: git/udapeople-cicd/backend
    cmd: npm run build
- name: start production server
  command:
    chdir: git/udapeople-cicd/backend
    cmd: npm run start:prod

